html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    // min-height: -webkit-fill-available; 
    overflow: auto;
    font-family: $font;
    font-weight: 400;
    font-size: $fontSize;
    color: $black;
    background-color: $background;
}

button,
input {
    font-family: $font;
    color: $black;
}

* {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    outline: none;
}

#container {
    max-width: 480px;
    margin: 0 auto;
    height: 100%;
    // height: -webkit-fill-available; 
}
#main_container {
    padding: 18px 18px;
    height: 100%;
    >.logo_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 12px;
        margin-bottom: 22px;
        .logo {
            width: 150px;
        }
        >:global(.button) {
            padding: 5px 10px;
            font-size: 13px;
        }
    }
    >div {
        overflow-y: auto;
        &:not(.logo_container){
            padding-bottom: 100px;
        }
    }
}
a {
    cursor: pointer;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

// Heading 01
h1 {
    font-size: 36px;
}

// Heading 02
h2 {
    font-size: 28px;
}

// Heading 03
h3 {
    font-size: 24px;
}

// Heading 04
h4 {
    font-size: 22px;
}

// Heading 05
h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

// Body 02
p {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.text-primary {
    color: $primary;
}
.text-danger {
    color: $danger;
}
.text-green {
    color: $green;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}
.store_table_header {
    display: flex;
    justify-content: space-between;
    gap: 2px;
    &:first-child{
        margin-bottom: 12px;
    }
    >div {
        display: flex;
    }
    span {
        color: #656D75;
        font-weight: 500;
        font-size: 14px;
        width: 53px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .StoreName {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        >p {
            font-weight: 500;
            &[data-type="NAVER"]{
                color: #2EB500;
            }
            &[data-type="COUPANG"]{
                color: #E4222A;
            }
            &[data-type="GMARKEY"]{
                color: #0028AB;
            }
            &[data-type="11ST"]{
                color: #E53641;
            }
        }
        span {
            color: #656D75;
            font-size: 14px;
            font-weight: 500;
            display: inline-block;
            width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.store_table_container {
    flex-direction: column;
    gap: 16px;
    >.store_table_content:not(:last-child){
        padding-bottom: 16px;
        border-bottom: 1px solid #f1f3f5;
    }  
}
.store_table_content {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    >.store_table_header {
        width: calc(100% - 130px);
        >span {
            font-size: 14px;
            color: inherit;
            font-weight: bold;
        }
    } 
}