html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    font-family: $font;
    font-weight: 400;
    font-size: $fontSize;
    color: $gray900;
    background-color: $gray100;
}

button,
input {
    font-family: $font;
    color: $gray900;
}

* {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    outline: none;
}

#container {
    max-width: 480px;
    margin: 0 auto;
}
#main_container {
    padding: 18px 18px 90px;
    >.logo_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        margin-bottom: 36px;
        .logo {
            width: 150px;
        }
        >:global(.button) {
            padding: 5px 10px;
            font-size: 13px;
        }
    }
}
a {
    cursor: pointer;
}

ul,
li,
ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 700;
}

// Heading 01
h1 {
    font-size: 36px;
}

// Heading 02
h2 {
    font-size: 28px;
}

// Heading 03
h3 {
    font-size: 24px;
}

// Heading 04
h4 {
    font-size: 22px;
}

// Heading 05
h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

// Body 02
p {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}
.text-primary {
    color: $purple400;
}
.text-danger {
    color: $danger;
}
.text-green {
    color: $green;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}