$color: #000;
$font: "Pretendard", "Noto Sans KR", arial, sans-serif;
$fontSize: 15px;
$position: top;

$tabletSize: 1000px;
$mobileSize: 500px;

/** colors */
$background: #F2F3F5;
$gray20: #E2E2E2;
$gray40: #AFAFAF;
$gray60: #545454;
$gray80: #1F1F1F;
$gray50: #f8fafb;
$gray100: #f1f3f5;
$gray200: #e9ecef;
$gray300: #dee2e6;
$gray400: #bcc4cc;
$gray500: #868e96;
$gray600: #656d75;
$gray700: #495057;
$gray800: #343a40;
$gray900: #212529;
$purple50: #EBEDFF;
$purple100: #D5D4FF;
$purple200: #BEB8FF;
$purple300: #A192FF;
$primary: #7A5AF8;
$white: #ffffff;
$black: #000000;
$danger: #EF314E;
$warning: #ffbe5b;
$green: #19bc85;

// $white-elevated: var(--theme-white-elevated);
// $black: var(--theme-black);
// $danger: var(--theme-danger);
// $warning: var(--theme-warning);
// $green: var(--theme-green);
// $primary: var(--theme-primary);

$borderface: 1px solid #E2E2E2;


:root {
    --background: #{$background};
    --gray20: #{$gray20};
    --gray40: #{$gray40};
    --gray60: #{$gray60};
    --gray80: #{$gray80};
    --gray50: #{$gray50};
    --gray100: #{$gray100};
    --gray200: #{$gray200};
    --gray300: #{$gray300};
    --gray400: #{$gray400};
    --gray500: #{$gray500};
    --gray600: #{$gray600};
    --gray700: #{$gray700};
    --gray800: #{$gray800};
    --gray900: #{$gray900};
    --purple50: #{$purple50};
    --purple100: #{$purple100};
    --purple200: #{$purple200};
    --purple300: #{$purple300};
    --primary: #{$primary};
    --white: #{$white};
    --black: #{$black};
    --danger: #{$danger};
    --warning: #{$warning};
    --green: #{$green};
}