.JoinInputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 36px;
    gap: 26px;
    > div {
        width: 100%;
        margin-bottom: 6px;
    }
    .JoinButton {
        height: 58px;
        font-weight: 700;
        font-size: 20px;
        width: 100%;
    }
    position: relative;
    >img {
        position: absolute;
    }
}
.JoinPhoneNumberInput {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    > div {
        width: 100%;
    }
    position: relative;
    > button {
        position: absolute;
        right: 1px;
        top: 1px;
        height: 62px;
        width: 136px !important;
        font-size: 20px;
        border-radius: 12px !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}
.Counter {
    position: absolute;
    top: 23px;
    font-size: 16px;
    font-weight: 700;
    right: 50px; 
}