.PaymentListComponent {
    width: 100%;

    >:global(.radio) {
        width: 100%;

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    p {
        font-size: 14px;
    }
    &.SelectedPlan {
        border-color: #7A5AF8;
        p {
            font-weight: bold;
        }
    }
}