.PaymentListComponent {
    width: 100%;

    >:global(.radio) {
        width: 100%;

        div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    p {
        font-size: 14px;
    }
    &.SelectedPlan {
        border-color: #7A5AF8;
        p {
            font-weight: bold;
        }
    }
}
.selectedPlanInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    > p {
        color: #545454;
    }
    > h4 {
        font-size: 14px;
    }
}