div.box {
    border: $borderface;
    &.box-md {
        padding: 18px;
    }
    &.box-round {
        border-radius: 16px;
    }
    &.box-borderless {
        border: none;
    }
    &.box-gray50 {
        background-color: $gray50;
    }
}