button.button {
    background-color: $primary;
    border: 1px solid $primary;
    padding: 9px 0;
    width: 100px;
    color: $white;
    cursor: pointer;
    > p {
        font-size: 14px;
        font-weight: 600;
    }
    &.button-round {
        border-radius: 6px;
    }
    &.button-square {
        border-radius: 2px;
    }
    &.button-borderless {
        border: none;
    }
    &:disabled {
        background-color: $gray20;
        border-color: $gray20;
        cursor: not-allowed;
    }
}