.checkbox {
    display: inline-flex;
    vertical-align: top;
  
    flex-direction: row;
    align-items: center;
  
    &.checkbox-block {
      display: flex;
  
      label {
        width: 100%;
      }
    }
  
    &.checkbox-disabled,
    &.checkbox-readonly {
      pointer-events: none;
      opacity: 0.5;
    }
  
    &:hover {
      label {
        :first-child {
          border-color: $purple100;
        }
      }
    }
  
    label {
      display: inline-flex;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      color: $gray900;
  
      :first-child {
        flex: 0 0 24px;
        content: " ";
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 2px;
        border: 1px solid $gray400;
        cursor: pointer;
        margin-right: 8px;
        background-color: $white;
      }
    }
  
    input {
      display: none;
    }
  
    input:checked + label {
      :first-child {
        background: $primary;
        border: 0;
  
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m11.06 15.46 5.4-5.4a.65.65 0 1 0-.919-.919l-4.941 4.94-2.818-2.818a.65.65 0 1 0-.919.919l3.278 3.278a.651.651 0 0 0 .919 0" style="fill:%23ffffff"/></svg>');
        background-position: 70% 70%;
      }
    }
  }
  