.input-line {
  position: relative;
  display: flex;
  gap: 6px;
  font-size: 14px;
  padding: 6px 0;

  .input,
  .dropdown {
    flex: 1 1;
  }

  &.label-position-top {
    flex-wrap: wrap;
    .input-label {
      width: 100%;
      flex: 1 1 100%;
    }
  }
}

.input-label {
  display: flex;
  font-weight: 500;
  flex: 0 75px;
  min-width: 75px;
  &.input-label-center {
    align-self: center;
  }

  &.input-label-flex-end {
    align-self: flex-end;
  }
}
