.input-line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  .input,
  .dropdown {
    flex: 1 1;
  }

  &.label-position-top {
    flex-wrap: wrap;
    .input-label {
      width: 100%;
      flex: 1 1 100%;
    }
  }
  &:not(:last-child){
    border-bottom: $borderface;
  }
}

.input-label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  background-color: $gray50;
  color: $gray500;
  flex: 0 75px;
  padding: 12px;
  border-right: $borderface;

  &.input-label-center {
    align-self: center;
  }

  &.input-label-flex-end {
    align-self: flex-end;
  }
}
