div.tabhost {
  display: flex;
  align-items: center;
  justify-content: space-between;
  >button {
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
    color: $gray400;
    cursor: pointer;
    &.selected {
      color: $primary;
      border-color: $primary;
    }
    &:not(.selected){
      > h3 {
        font-weight: 400;
      }
    }
  }
}