.SettingComponent {
  position: relative;
  display: flex;
  gap: 16px;
  flex-direction: column;
  height: calc(100% - 100px);

  :global(.box.box-md) {
    padding: 24px 30px;
  }

  >header {
    button {
      font-size: 18px;
      font-weight: 500;
    }
  }
}

.Dropdown {
  border-radius: 12px !important;

  :global(.dropdown-display) {
    border-radius: 12px !important;
    width: 100% !important;
    border-color: #E9ECEF !important;
    padding: 24px 16px !important;
    font-size: 18px !important;
    font-weight: 700;
    color: #000 !important;
    height: auto !important;
  }

}