.SettingComponent {
  position: relative;
  display: flex;
    flex-direction: column;
    gap: 16px;
    :global(.box.box-md){
        padding: 24px 30px;
    }
  >header{
      button {
        font-size: 18px;
        font-weight: 500;
       }
  } 
  .Logout {
    position: absolute;
    top: 89vh;
    font-size: 16px;
    font-weight: 500;
    right: 5px;
  }
}