.UserContainer {
    >button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

}

.StoreContainer {
    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            border-bottom: 1px solid #BCC4CC;
        }

        &:not(:first-child) {
            padding: 16px 0;
        }

        &:first-child {
            padding-bottom: 16px;
        }

        p {
            font-size: 18px;
        }
    }
}

.StoreUserName {
    display: flex;
    align-items: center;
    gap: 12px;
}

.StoreSettingHeader {
    display: flex;
    margin-bottom: 20px;

    >span {
        min-width: 110px;
    }
}

.StoresContainer {
    display: flex;
    justify-content: space-between;

    >div {
        display: flex;

        >:global(.StoreName) {
            flex-direction: row;

            >p {
                min-width: 110px;
            }
        }
    }
}

.StoreSettingName {
    >p {
        font-size: 14px;
    }
}

.StoreButtons {
    display: flex;
    align-items: center;

    >button {
        display: flex;
    }
}

.StoreAlias {
    width: 110px;
    // max-width: 110px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.UpgradeButton {
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px !important;
}

.Buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.Logout {
    font-size: 16px;
    font-weight: 500;
    text-align: end;
    margin-left: 20px;
}
.NoStore {
    text-align: center;
}