.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  > h3 {
    margin-right: 16px;
  }
}

.OrderCheckboxContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 16px;
  >:global(.button) {
    padding: 8px 12px;
  }
}
.OrderListContainer {
  margin: 16px 0;
  .OrderListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    >div {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    >:global(.checkbox){
      margin-bottom: 9px;
    }
  }
  .OrderPurchasedContainer {
    display: flex;
    gap: 12px;
    margin-top: 6px;
    :global(.dropdown-display),
    :global(.input-container),
    >button{
      height: 36px;
    }
    :global(.input input){
      margin-top: 0;
    }
    :global(.input-container) {
      border-radius: 6px;
      padding: 9px 10px;
      >input {
        font-weight: 500;
        font-size: 14px;
      }
    }
  }
}
.OrderProductUserItem {
  >strong {
    display: block;
    padding: 12px 0;
  }
  >.border {
    height: 1px;
    margin: 8px 0;
    background-color: #E9ECEF;
  }
  :global(.input-line){
    >div{
      display: flex;
      justify-content: space-between;
      width: 100%;
      >strong{
        max-width: 90%;
      }
      >p{
        cursor: pointer;
        font-weight: 500;
      }
    }
  }
}
.NoDataList {
  text-align: center;
  margin-top: 25vh;
}
.isCancel{
  border-radius: 16px;
  background-color: #FEE !important;
  border: 2px solid #EF314E !important;
}
.CancelContainer {
  border-top: 1px solid #C7C7C7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  padding-top: 12px;
}