.Header {
  display: flex;
  // grid-template-columns: 70px 1fr 60px;
  margin: 20px 0;
  >div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: 8px;
    >p {
      font-size: 18px;
    }
    &:first-child{
      justify-content: flex-start;
      
    }
  }
}