.Table {
    border: 10px;
}
.MainContainer{
    padding: 18px;
}
.Container {
    margin-bottom: 55px;
    .ContainerHeader {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        gap: 12px;
        text-decoration: none;
        color: inherit;
        &.AddMarketButton {
            justify-content: space-between;
            >div {
                display: flex;
                gap: 12px;
            }
            >span {
                cursor: pointer;
            }
        }
    }
}
.logoContainer {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 36px;
    .logo {
        width: 150px;
    }
    >:global(.button) {
        padding: 5px 10px;
        font-size: 13px;
    }
}

.DashboardOrderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 24px;
    >:global(.box){
        min-width: 95px;
    }
}
.DashboardOrdeBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 12px;
    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        >span {
            font-size: 16px;
            font-weight: 500;
            color: #656D75;
        }
    }
}
.DashboardOrdeBoxrContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
    :global(.button) {
        width: 100%;
        padding: 8px;
    }
}
.DashboardOrderButtonCancel {
    >strong {
        font-size: 18px;
    }
    &:global(.button){
        background-color: #F55F54;
        border-color: #F55F54;
    }
}

.DashboardStoreHeader {
    display: flex;
    flex: auto 60px 60px 60px;
    justify-content: flex-end;
    gap: 2px;
    >span {
        color: #656D75;
        font-weight: 500;
        font-size: 16px;
        width: 53px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .StoreName {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        >p {
            font-weight: 500;
            &[data-type="naver"]{
                color: #2EB500;
            }
            &[data-type="coopang"]{
                color: #E4222A;
            }
            &[data-type="gmarket"]{
                color: #0028AB;
            }
            &[data-type="11st"]{
                color: #E53641;
            }
        }
        >span {
            color: #656D75;
            font-size: 16px;
            font-weight: 700;
            display: inline-block;
            width: 130px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}
.DashboardStoreContent {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    >.DashboardStoreHeader {
        width: calc(100% - 130px);
        >span {
            font-size: 18px;
            color: inherit;
            font-weight: bold;
        }
    }
}