/** colors */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  font-family: "Pretendard", "Noto Sans KR", arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #212529;
  background-color: f2f3f5;
}

button,
input {
  font-family: "Pretendard", "Noto Sans KR", arial, sans-serif;
  color: #212529;
}

* {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  outline: none;
}

#container {
  max-width: 480px;
  margin: 0 auto;
}

#main_container {
  padding: 18px;
  padding-bottom: 60px;
}

a {
  cursor: pointer;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.text-primary {
  color: #7A5AF8;
}

.text-danger {
  color: #f55f54;
}

.text-green {
  color: #19bc85;
}

table.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e9ecef;
}
table.table thead {
  border-bottom: 1px solid #e9ecef;
  background-color: #f8fafb;
}
table.table thead th {
  font-size: 13px;
  line-height: 1.85;
  color: #868e96;
  min-height: 42px;
  padding: 9px 15px;
  text-align: center;
}
table.table thead th.left {
  text-align: left;
}
table.table thead th.right {
  text-align: right;
}
table.table tbody tr {
  border-bottom: 1px solid #e9ecef;
  height: 48px;
}
table.table tbody td {
  font-size: 15px;
  line-height: 1.6;
  color: #343a40;
  text-align: center;
  min-height: 42px;
  padding: 9px 15px;
  word-break: break-all;
}
table.table tbody td > span {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
table.table tbody td.left {
  text-align: left;
}
table.table tbody td.right {
  text-align: right;
}
table.table th:not(:last-child),
table.table tr > td:not(:last-child) {
  border-right: 1px solid #e9ecef;
}

div.box {
  border: 1px solid #e9ecef;
}
div.box.box-md {
  padding: 18px;
}
div.box.box-round {
  border-radius: 16px;
}
div.box.box-borderless {
  border: none;
}
div.box.box-gray50 {
  background-color: #f8fafb;
}

div.tabhost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.tabhost > button {
  padding: 9px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: #bcc4cc;
}
div.tabhost > button.selected {
  color: #212529;
}
div.tabhost > button:not(.selected) > h3 {
  font-weight: 400;
}

.checkbox {
  display: inline-flex;
  vertical-align: top;
  flex-direction: row;
  align-items: center;
}
.checkbox.checkbox-block {
  display: flex;
}
.checkbox.checkbox-block label {
  width: 100%;
}
.checkbox.checkbox-disabled, .checkbox.checkbox-readonly {
  pointer-events: none;
  opacity: 0.5;
}
.checkbox:hover label :first-child {
  border-color: #D5D4FF;
}
.checkbox label {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #212529;
}
.checkbox label :first-child {
  flex: 0 0 24px;
  content: " ";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #bcc4cc;
  cursor: pointer;
  margin-right: 8px;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + label :first-child {
  background: #7A5AF8;
  border: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m11.06 15.46 5.4-5.4a.65.65 0 1 0-.919-.919l-4.941 4.94-2.818-2.818a.65.65 0 1 0-.919.919l3.278 3.278a.651.651 0 0 0 .919 0" style="fill:%23ffffff"/></svg>');
  background-position: 50% 50%;
}

button.button {
  background-color: #7A5AF8;
  border: 1px solid #7A5AF8;
  padding: 9px 0;
  width: 100px;
  color: #ffffff;
  cursor: pointer;
}
button.button > p {
  font-size: 14px;
  font-weight: 600;
}
button.button.button-round {
  border-radius: 6px;
}
button.button.button-square {
  border-radius: 2px;
}
button.button.button-borderless {
  border: none;
}
button.button:disabled {
  background-color: #D5D4FF;
  border-color: #D5D4FF;
  cursor: not-allowed;
}

.input-line {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}
.input-line .input,
.input-line .dropdown {
  flex: 1 1;
}
.input-line.label-position-top {
  flex-wrap: wrap;
}
.input-line.label-position-top .input-label {
  width: 100%;
  flex: 1 1 100%;
}
.input-line:not(:last-child) {
  border-bottom: 1px solid #e9ecef;
}

.input-label {
  display: flex;
  justify-content: center;
  font-weight: 500;
  background-color: #f8fafb;
  color: #868e96;
  flex: 0 75px;
  padding: 12px;
  border-right: 1px solid #e9ecef;
}
.input-label.input-label-center {
  align-self: center;
}
.input-label.input-label-flex-end {
  align-self: flex-end;
}

.input {
  position: relative;
}
.input .input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #f8fafb;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  padding: 14px;
  font-size: 15px;
  height: 48px;
}
.input:hover .input-container {
  border-color: #D5D4FF;
  border-width: 2px;
  padding: 13px;
}
.input.input-focus .input-container {
  background: #ffffff;
  border-color: #7A5AF8;
  border-width: 2px;
  padding: 13px;
}
.input.input-disabled .input-container, .input.input-readonly .input-container {
  border-width: 0;
  background-color: #f8fafb;
  padding: 15px;
}
.input.input-error .input-container {
  border-width: 2px;
  border-color: #f55f54;
  padding: 13px;
}
.input.input-error .input-caption {
  color: #f55f54;
  font-weight: 500;
}
.input .input_with-label {
  display: block;
  font-weight: 500;
  color: #868e96;
  margin-left: 4px;
  margin-bottom: 6px;
}
.input input {
  flex: 1 1;
  border: 0;
  padding: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  font-size: 15px;
  line-height: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #212529;
  text-align: left;
}
.input input::placeholder {
  color: #868e96;
}
.input input::-ms-clear, .input input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.input input::-webkit-search-decoration, .input input::-webkit-search-cancel-button, .input input::-webkit-search-results-button, .input input::-webkit-search-results-decoration {
  display: none;
}
.input .input-caption {
  position: absolute;
  left: 4px;
  top: 100%;
  font-size: 13px;
  line-height: 1.4;
}

/*# sourceMappingURL=index.css.map */
