/** colors */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow: auto;
  font-family: "Pretendard", "Noto Sans KR", arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #000000;
  background-color: #F2F3F5;
}

button,
input {
  font-family: "Pretendard", "Noto Sans KR", arial, sans-serif;
  color: #000000;
}

* {
  -webkit-appearance: none;
  appearance: none;
  box-sizing: border-box;
  outline: none;
}

#container {
  max-width: 480px;
  margin: 0 auto;
  height: 100%;
}

#main_container {
  padding: 18px 18px;
  height: 100%;
}
#main_container > .logo_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-bottom: 22px;
}
#main_container > .logo_container .logo {
  width: 150px;
}
#main_container > .logo_container > :global(.button) {
  padding: 5px 10px;
  font-size: 13px;
}
#main_container > div {
  overflow-y: auto;
}
#main_container > div:not(.logo_container) {
  padding-bottom: 100px;
}

a {
  cursor: pointer;
}

ul,
li,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
}

.text-primary {
  color: #7A5AF8;
}

.text-danger {
  color: #EF314E;
}

.text-green {
  color: #19bc85;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.store_table_header {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}
.store_table_header:first-child {
  margin-bottom: 12px;
}
.store_table_header > div {
  display: flex;
}
.store_table_header span {
  color: #656D75;
  font-weight: 500;
  font-size: 14px;
  width: 53px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.store_table_header .StoreName {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.store_table_header .StoreName > p {
  font-weight: 500;
}
.store_table_header .StoreName > p[data-type=NAVER] {
  color: #2EB500;
}
.store_table_header .StoreName > p[data-type=COUPANG] {
  color: #E4222A;
}
.store_table_header .StoreName > p[data-type=GMARKEY] {
  color: #0028AB;
}
.store_table_header .StoreName > p[data-type="11ST"] {
  color: #E53641;
}
.store_table_header .StoreName span {
  color: #656D75;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.store_table_container {
  flex-direction: column;
  gap: 16px;
}
.store_table_container > .store_table_content:not(:last-child) {
  padding-bottom: 16px;
  border-bottom: 1px solid #f1f3f5;
}

.store_table_content {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.store_table_content > .store_table_header {
  width: calc(100% - 130px);
}
.store_table_content > .store_table_header > span {
  font-size: 14px;
  color: inherit;
  font-weight: bold;
}

table.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #E2E2E2;
}
table.table thead {
  border-bottom: 1px solid #E2E2E2;
  background-color: #f8fafb;
}
table.table thead th {
  font-size: 13px;
  line-height: 1.85;
  color: #868e96;
  min-height: 42px;
  padding: 9px 15px;
  text-align: center;
}
table.table thead th.left {
  text-align: left;
}
table.table thead th.right {
  text-align: right;
}
table.table tbody tr {
  border-bottom: 1px solid #E2E2E2;
  height: 48px;
}
table.table tbody td {
  font-size: 15px;
  line-height: 1.6;
  color: #343a40;
  text-align: center;
  min-height: 42px;
  padding: 9px 15px;
  word-break: break-all;
}
table.table tbody td > span {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
table.table tbody td.left {
  text-align: left;
}
table.table tbody td.right {
  text-align: right;
}
table.table th:not(:last-child),
table.table tr > td:not(:last-child) {
  border-right: 1px solid #E2E2E2;
}

div.box {
  border: 1px solid #E2E2E2;
}
div.box.box-md {
  padding: 18px;
}
div.box.box-round {
  border-radius: 16px;
}
div.box.box-borderless {
  border: none;
}
div.box.box-gray50 {
  background-color: #f8fafb;
}
div.box.box-white {
  background-color: #ffffff;
}

div.tabhost {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.tabhost > button {
  width: 100%;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  color: #bcc4cc;
  cursor: pointer;
}
div.tabhost > button.selected {
  color: #7A5AF8;
  border-color: #7A5AF8;
}
div.tabhost > button:not(.selected) > h3 {
  font-weight: 400;
}

.checkbox {
  display: inline-flex;
  vertical-align: top;
  flex-direction: row;
  align-items: center;
}
.checkbox.checkbox-block {
  display: flex;
}
.checkbox.checkbox-block label {
  width: 100%;
}
.checkbox.checkbox-disabled, .checkbox.checkbox-readonly {
  pointer-events: none;
  opacity: 0.5;
}
.checkbox:hover label :first-child {
  border-color: #D5D4FF;
}
.checkbox label {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #212529;
}
.checkbox label :first-child {
  flex: 0 0 24px;
  content: " ";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  border: 1px solid #bcc4cc;
  cursor: pointer;
  margin-right: 8px;
  background-color: #ffffff;
}
.checkbox input {
  display: none;
}
.checkbox input:checked + label :first-child {
  background: #7A5AF8;
  border: 0;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="m11.06 15.46 5.4-5.4a.65.65 0 1 0-.919-.919l-4.941 4.94-2.818-2.818a.65.65 0 1 0-.919.919l3.278 3.278a.651.651 0 0 0 .919 0" style="fill:%23ffffff"/></svg>');
  background-position: 70% 70%;
}

button.button {
  background-color: #7A5AF8;
  border: 1px solid #7A5AF8;
  padding: 9px 0;
  width: 100px;
  color: #ffffff;
  cursor: pointer;
}
button.button > p {
  font-size: 14px;
  font-weight: 600;
}
button.button.button-round {
  border-radius: 6px;
}
button.button.button-square {
  border-radius: 2px;
}
button.button.button-borderless {
  border: none;
}
button.button.button-lg {
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
}
button.button:disabled {
  background-color: #E2E2E2;
  border-color: #E2E2E2;
  cursor: not-allowed;
}

.input-line {
  position: relative;
  display: flex;
  gap: 6px;
  font-size: 14px;
  padding: 6px 0;
}
.input-line .input,
.input-line .dropdown {
  flex: 1 1;
}
.input-line.label-position-top {
  flex-wrap: wrap;
}
.input-line.label-position-top .input-label {
  width: 100%;
  flex: 1 1 100%;
}

.input-label {
  display: flex;
  font-weight: 500;
  flex: 0 75px;
  min-width: 75px;
}
.input-label.input-label-center {
  align-self: center;
}
.input-label.input-label-flex-end {
  align-self: flex-end;
}

.input {
  position: relative;
}
.input > img {
  right: 22px;
  top: 20px;
  position: absolute;
}
.input .input-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background: #ffffff;
  border: 1px solid #E2E2E2;
  border-radius: 12px;
  padding: 22px 16px;
  font-size: 15px;
  height: 64px;
  transition: border-color 0.2s ease-in;
}
.input .input_with-label {
  display: block;
  position: absolute;
  font-weight: 700;
  color: #545454;
  top: 22px;
  left: 16px;
  transition: top 0.1s ease-in;
}
.input:hover .input-container {
  border-color: #D5D4FF;
}
.input:hover .input_with-label {
  font-size: 12px;
  top: 13px;
}
.input.input-label-focus .input_with-label {
  font-size: 12px;
  top: 13px;
}
.input.input-focus .input-container {
  background: #ffffff;
  border-color: #7A5AF8;
}
.input.input-focus .input_with-label {
  font-size: 12px;
  top: 13px;
}
.input.input-disabled .input-container, .input.input-readonly .input-container {
  border-width: 0;
  background-color: #f8fafb;
}
.input.input-error .input-container {
  border-width: 2px;
  border-color: #EF314E;
}
.input.input-error .input-caption {
  color: #EF314E;
  font-weight: 700;
  margin: 4px 12px 0;
}
.input input {
  flex: 1 1;
  border: 0;
  padding: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-weight: 700;
  padding-top: 16px;
  line-height: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-align: left;
}
.input input::placeholder {
  color: #AFAFAF;
}
.input input::-ms-clear, .input input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
.input input::-webkit-search-decoration, .input input::-webkit-search-cancel-button, .input input::-webkit-search-results-button, .input input::-webkit-search-results-decoration {
  display: none;
}
.input .input-caption {
  top: 100%;
  line-height: 1.4;
  font-size: 12px;
  color: #495057;
  font-weight: 500;
}

.chevron-right {
  transform: rotate(180deg);
}

.switch {
  position: relative;
  min-width: 44px;
  height: 24px;
}
.switch.switch-disabled, .switch.switch-readonly {
  opacity: 0.5;
  pointer-events: none;
}
.switch label {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 12px;
  background-color: #dee2e6;
  cursor: pointer;
}
.switch label::before {
  content: " ";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #ffffff;
  transition: left 300ms ease-out;
  top: 2px;
  left: 2px;
}
.switch input {
  display: none;
}
.switch > input:checked + label {
  background-color: #7A5AF8;
}
.switch > input:checked + label::before {
  left: calc(100% - 22px);
}

.dropdown {
  position: relative;
  background-color: #ffffff;
  border-radius: 6px;
}
.dropdown .dropdown-container {
  position: relative;
}
.dropdown:hover .dropdown-display {
  border-color: #D5D4FF;
  border-width: 1px;
}
.dropdown.dropdown-focus .dropdown-display {
  background: #ffffff;
  border-color: #7A5AF8;
  border-width: 1px;
}
.dropdown.dropdown-disabled .dropdown-display, .dropdown.dropdown-readonly .dropdown-display {
  border-width: 0;
  background-color: #f8fafb;
  pointer-events: none;
}
.dropdown.dropdown-disabled .dropdown-display a, .dropdown.dropdown-readonly .dropdown-display a {
  background-color: transparent;
  color: #868e96;
}
.dropdown.dropdown-error .dropdown-display {
  border-width: 2px;
  border-color: #EF314E;
}
.dropdown.dropdown-error .dropdown-caption {
  color: #EF314E;
}
.dropdown .dropdown-display {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #E2E2E2;
  padding: 6px 12px 6px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  width: 105px;
  font-size: 14px;
}
.dropdown .dropdown-display a,
.dropdown .dropdown-display input {
  flex: 1 1;
  font-weight: 500;
  color: #AFAFAF;
  border: 0;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  margin-right: 4px;
}
.dropdown .dropdown-display a {
  color: #212529;
}
.dropdown .dropdown-display img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.dropdown .dropdown-wrapper {
  border-radius: 6px;
  border: solid 1px #e9ecef;
  padding: 6px 0;
  position: absolute;
  z-index: 2;
  width: max-content;
  top: 100%;
  min-width: 100%;
  margin-top: 2px;
  background-color: #ffffff;
  max-height: 130px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
.dropdown .dropdown-wrapper ::-webkit-scrollbar {
  display: none;
}
.dropdown .dropdown-children p {
  padding: 4px;
  margin: 0 4px;
  font-size: 14px;
  font-weight: bold;
  color: #212529;
}
.dropdown .dropdown-childrens {
  padding-left: 2px;
}
.dropdown .dropdown-item {
  border-radius: 6px;
  padding: 10px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #212529;
}
.dropdown .dropdown-item.dropdown-selected {
  background-color: #e9ecef;
}
.dropdown .dropdown-item:hover {
  background-color: #f8fafb;
}
.dropdown .dropdown-item.dropdown-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.dropdown .dropdown-item .dropdown-wrapper {
  padding-left: 2px;
}
.dropdown .dropdown-caption {
  position: absolute;
  left: 4px;
  top: 100%;
  font-size: 13px;
  font-weight: 500;
  margin-top: 4px;
}

.radio {
  display: inline-flex;
  vertical-align: top;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  color: #212529;
}
.radio.radio-block {
  display: flex;
}
.radio.radio-block:not(:last-child) {
  margin-bottom: 24px;
}
.radio:not(.radio-block:last-child) {
  margin-right: 24px;
}
.radio.radio-disabled, .radio.radio-readonly {
  pointer-events: none;
  opacity: 0.5;
}
.radio:hover span {
  border-color: #D5D4FF;
}
.radio span {
  flex: 0 0 20px;
  content: " ";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid #bcc4cc;
  cursor: pointer;
  margin-right: 8px;
}
.radio input {
  display: none;
}
.radio input:checked + span {
  border-color: #7A5AF8;
  border-width: 5px;
}

.confirmBg {
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.confirmContainer {
  position: fixed;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 260px;
}
.confirmContainer > span {
  margin-top: 10px;
}
.confirmContainer > div {
  display: flex;
  gap: 10px;
}
.confirmContainer > div > .confirm_cancel {
  border: #bcc4cc;
  background-color: #bcc4cc;
}

.popup_container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}

.popup_main {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60%;
  left: 50%;
  transform: translate(-50%);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background-color: #ffffff;
  padding: 30px;
  padding-right: 20px;
}
.popup_main > div {
  line-height: 1.6;
  height: 100%;
  overflow: auto;
}
.popup_main > div > h5 {
  margin-top: 8px;
}

/*# sourceMappingURL=index.css.map */
