.tutorialContainer {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    background-color: rgba($color: #000000, $alpha: 0.7);

    >div {
        width: 100%;
        max-width: 480px;
        height: 100vh;
        margin: 0 auto;
        position: relative;

        .tutorialSettingButton {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 6px;
            bottom: 0;
            right: 25px;
            background-color: #fff;
            padding: 11px 30px 33px;
            border-radius: 4px;
            font-size: 11px;
            font-weight: 600;
            color: #545454;
            position: absolute;
            border: 2px solid #7A5AF8;
            cursor: pointer;

            >svg {
                >path {
                    stroke: #545454;
                }
            }
        }

        h1 {
            color: #fff;
            position: absolute;
            text-align: center;
            line-height: 1.4;
            top: 75vh;
            font-size: 20px;
            left: 50%;
            transform: translate(-50%);
        }

        .tutorialAddButton {
            position: absolute;
            top: 327px;
            right: 49px;
            border: 1px solid #fff;
        }
    }
}