.tutorialContainer {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999;
    background-color: rgba($color: #000000, $alpha: 0.7);
    > div {
        width: 100%;
        max-width: 480px;
        height: 100vh;
        margin: 0 auto;
        position: relative;
        .tutorialAddButton {
            padding: 8px;
            width: 114px;
            border-radius: 4px;
            background-color: #fff;
            position: absolute;
            top: 532px;
            right: 0;
            cursor: pointer;
        }
      
        h1 {
            color: #fff;
            position: absolute;
            text-align: center;
            line-height: 1.4;
            top: 75vh;
            font-size: 20px;
            left: 50%;
            transform: translate(-50%);
        }
    }
}