.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-child) {
        border-top: 1px solid var(--gray20);
    }

    &:not(:first-child),
    &:not(:last-child) {
        padding: 10px 0;
    }

    &:first-child {
        padding-bottom: 10px;
    }

    p {
        font-size: 18px;
    }
}
.unsubscribe {
    padding: 12px 16px;
    border-radius: 4px;
    background-color: var(--purple50);
    margin: 0 38%;
    margin-top: 14px;
    // border: 1px solid #BCC4CC;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    
}
.dropdown {
    width: fit-content;
    top: 10px;
    &:global(.dropdown) {
        position: absolute;
        right: 0;
        background-color: transparent;
        :global(.dropdown-display) {
            background-color: #fff;
            height: 42px;
        }
    }
}